-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: clinic_management
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `appointments`
--

DROP TABLE IF EXISTS `appointments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `appointments` (
  `appointment_id` int NOT NULL AUTO_INCREMENT,
  `patient_id` int DEFAULT NULL,
  `doctor_id` int NOT NULL,
  `clinic_id` int NOT NULL,
  `availability_id` int NOT NULL,
  `appointment_date` date NOT NULL,
  `session` enum('Morning','Evening') NOT NULL,
  `token_number` int NOT NULL,
  `status` enum('Booked','Reserved','Waiting','In Progress','Completed','Skipped','Cancelled','Absent') DEFAULT 'Booked',
  `booking_source` enum('walk_in','online') DEFAULT NULL,
  `booking_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `completed_time` timestamp NULL DEFAULT NULL,
  `reserved_by` int DEFAULT NULL,
  `arrived_time` datetime DEFAULT NULL,
  `remark` varchar(255) DEFAULT NULL,
  `arrived_estimated` tinyint(1) DEFAULT '0',
  `booking_group_id` char(36) DEFAULT NULL COMMENT 'Shared UUID linking every token in a multi-token (procedure) booking; NULL for ordinary single-token bookings',
  `procedure_note` varchar(255) DEFAULT NULL COMMENT 'Optional reason/description for a multi-token (procedure) booking',
  PRIMARY KEY (`appointment_id`),
  UNIQUE KEY `unique_doctor_token` (`doctor_id`,`appointment_date`,`session`,`token_number`),
  UNIQUE KEY `unique_doctor_token_pool` (`doctor_id`,`appointment_date`,`session`,`token_number`,`booking_source`),
  KEY `fk_appointment_patient` (`patient_id`),
  KEY `fk_appointment_clinic` (`clinic_id`),
  KEY `fk_appointment_availability` (`availability_id`),
  KEY `fk_appointment_reserved_by` (`reserved_by`),
  KEY `idx_appointments_booking_group` (`booking_group_id`),
  CONSTRAINT `fk_appointment_availability` FOREIGN KEY (`availability_id`) REFERENCES `doctor_availability` (`availability_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_appointment_clinic` FOREIGN KEY (`clinic_id`) REFERENCES `clinics` (`clinic_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_appointment_doctor` FOREIGN KEY (`doctor_id`) REFERENCES `doctors` (`doctor_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_appointment_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`patient_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_appointment_reserved_by` FOREIGN KEY (`reserved_by`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=87 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `appointments`
--

LOCK TABLES `appointments` WRITE;
/*!40000 ALTER TABLE `appointments` DISABLE KEYS */;
/*!40000 ALTER TABLE `appointments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `availability`
--

DROP TABLE IF EXISTS `availability`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `availability` (
  `availability_id` int NOT NULL AUTO_INCREMENT,
  `doctor_id` int NOT NULL,
  `clinic_id` int NOT NULL,
  `available_date` date NOT NULL,
  `session` enum('Morning','Evening') NOT NULL,
  `start_time` time NOT NULL,
  `end_time` time NOT NULL,
  `consultation_time` int NOT NULL DEFAULT '15',
  `total_tokens` int NOT NULL DEFAULT '0',
  `booked_tokens` int NOT NULL DEFAULT '0',
  `reserved_tokens` int NOT NULL DEFAULT '0',
  `status` enum('Available','Leave','Closed') NOT NULL DEFAULT 'Available',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`availability_id`),
  UNIQUE KEY `unique_doctor_date_session` (`doctor_id`,`available_date`,`session`),
  KEY `clinic_id` (`clinic_id`),
  CONSTRAINT `availability_ibfk_1` FOREIGN KEY (`doctor_id`) REFERENCES `doctors` (`doctor_id`) ON DELETE CASCADE,
  CONSTRAINT `availability_ibfk_2` FOREIGN KEY (`clinic_id`) REFERENCES `clinics` (`clinic_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `availability`
--

LOCK TABLES `availability` WRITE;
/*!40000 ALTER TABLE `availability` DISABLE KEYS */;
INSERT INTO `availability` VALUES (1,1,1,'2026-08-12','Morning','09:00:00','12:00:00',15,12,0,0,'Available','2026-08-12 08:58:02'),(2,2,1,'2026-08-12','Morning','09:00:00','12:00:00',15,12,0,0,'Available','2026-08-12 08:58:14');
/*!40000 ALTER TABLE `availability` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clinic_session_token_settings`
--

DROP TABLE IF EXISTS `clinic_session_token_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clinic_session_token_settings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `clinic_id` int NOT NULL,
  `day_of_week` tinyint NOT NULL COMMENT '0=Sun,1=Mon,2=Tue,3=Wed,4=Thu,5=Fri,6=Sat',
  `session` enum('Morning','Evening') NOT NULL,
  `total_tokens` int NOT NULL DEFAULT '30',
  `onsite_tokens` int NOT NULL DEFAULT '15',
  `online_tokens` int NOT NULL DEFAULT '15',
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_clinic_day_sess` (`clinic_id`,`day_of_week`,`session`),
  CONSTRAINT `clinic_session_token_settings_ibfk_1` FOREIGN KEY (`clinic_id`) REFERENCES `clinics` (`clinic_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clinic_session_token_settings`
--

LOCK TABLES `clinic_session_token_settings` WRITE;
/*!40000 ALTER TABLE `clinic_session_token_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `clinic_session_token_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clinics`
--

DROP TABLE IF EXISTS `clinics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clinics` (
  `clinic_id` int NOT NULL AUTO_INCREMENT,
  `clinic_name` varchar(150) NOT NULL,
  `registration_number` varchar(100) DEFAULT NULL,
  `address` text NOT NULL,
  `city` varchar(100) NOT NULL,
  `state` varchar(100) NOT NULL,
  `phone` varchar(20) NOT NULL,
  `alternate_phone` varchar(20) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `latitude` decimal(10,8) DEFAULT NULL,
  `longitude` decimal(11,8) DEFAULT NULL,
  `opening_time` time DEFAULT NULL,
  `closing_time` time DEFAULT NULL,
  `status` enum('Active','Inactive') DEFAULT 'Active',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `clinic_type` varchar(100) DEFAULT NULL,
  `pincode` varchar(10) DEFAULT NULL,
  `contact_name` varchar(100) DEFAULT NULL,
  `booking_end_date` date DEFAULT NULL,
  `onsite_token_percent` int DEFAULT '50',
  `onsite_token_limit` int DEFAULT NULL,
  `booking_start_date` date DEFAULT NULL,
  PRIMARY KEY (`clinic_id`),
  UNIQUE KEY `registration_number` (`registration_number`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clinics`
--

LOCK TABLES `clinics` WRITE;
/*!40000 ALTER TABLE `clinics` DISABLE KEYS */;
INSERT INTO `clinics` VALUES (1,'PrimeCare Health Center','13001','Karuvanchal, New Naduvil, Kerala','karuvanchal','kerala','6234567890','9446743343','jefft1260@gmail.com',NULL,NULL,NULL,NULL,'Active','2026-08-09 08:02:44','Hospital','670582','Jeff Thomas',NULL,50,15,NULL);
/*!40000 ALTER TABLE `clinics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctor_availability`
--

DROP TABLE IF EXISTS `doctor_availability`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctor_availability` (
  `availability_id` int NOT NULL AUTO_INCREMENT,
  `doctor_id` int NOT NULL,
  `available_date` date DEFAULT NULL,
  `session` enum('Morning','Evening') NOT NULL,
  `start_time` time NOT NULL,
  `end_time` time NOT NULL,
  `average_consultation_minutes` int NOT NULL DEFAULT '10',
  `is_leave` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `day_of_week` tinyint DEFAULT NULL,
  `is_override` tinyint(1) DEFAULT '0',
  `session_state` enum('Scheduled','Live','Completed') DEFAULT 'Scheduled',
  `total_tokens` int DEFAULT NULL,
  `is_clinic_blocked` tinyint(1) DEFAULT '0',
  `onsite_tokens_override` int DEFAULT NULL COMMENT 'Manual on-site token-count override for this date/session; NULL = use the doctor/clinic weekly split',
  `online_tokens_override` int DEFAULT NULL COMMENT 'Manual online token-count override for this date/session; NULL = use the doctor/clinic weekly split',
  `extra_onsite_tokens` int NOT NULL DEFAULT '0' COMMENT 'Extra on-site tokens appended after this date/session''s existing numbering ??? never shifts any existing token',
  `extra_online_tokens` int NOT NULL DEFAULT '0' COMMENT 'Extra online tokens appended after this date/session''s existing numbering ??? never shifts any existing token',
  `extra_token_log` json DEFAULT NULL COMMENT 'Ordered list of {pool,count} extra-token add actions; NULL = legacy (treat as one on-site-then-online batch)',
  PRIMARY KEY (`availability_id`),
  UNIQUE KEY `unique_doctor_session_date` (`doctor_id`,`available_date`,`session`),
  KEY `idx_availability_doctor_date` (`doctor_id`,`available_date`),
  CONSTRAINT `fk_availability_doctor` FOREIGN KEY (`doctor_id`) REFERENCES `doctors` (`doctor_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=371 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctor_availability`
--

LOCK TABLES `doctor_availability` WRITE;
/*!40000 ALTER TABLE `doctor_availability` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctor_availability` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctor_regular_schedule`
--

DROP TABLE IF EXISTS `doctor_regular_schedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctor_regular_schedule` (
  `schedule_id` int NOT NULL AUTO_INCREMENT,
  `doctor_id` int NOT NULL,
  `day_of_week` tinyint NOT NULL,
  `session` enum('Morning','Evening') NOT NULL,
  `start_time` time NOT NULL,
  `end_time` time NOT NULL,
  `average_consultation_minutes` int DEFAULT '10',
  PRIMARY KEY (`schedule_id`),
  UNIQUE KEY `doc_day_sess` (`doctor_id`,`day_of_week`,`session`)
) ENGINE=InnoDB AUTO_INCREMENT=130 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctor_regular_schedule`
--

LOCK TABLES `doctor_regular_schedule` WRITE;
/*!40000 ALTER TABLE `doctor_regular_schedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctor_regular_schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctor_session_token_settings`
--

DROP TABLE IF EXISTS `doctor_session_token_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctor_session_token_settings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `doctor_id` int NOT NULL,
  `day_of_week` tinyint NOT NULL COMMENT '0=Sunday .. 6=Saturday',
  `session` enum('Morning','Evening') NOT NULL,
  `total_tokens` int NOT NULL DEFAULT '0',
  `onsite_tokens` int NOT NULL DEFAULT '0',
  `online_tokens` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `token_assignments` json DEFAULT NULL COMMENT 'Per-position onsite/online pick list; NULL = use the count-based split',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_doctor_day_session` (`doctor_id`,`day_of_week`,`session`),
  CONSTRAINT `fk_dsts_doctor` FOREIGN KEY (`doctor_id`) REFERENCES `doctors` (`doctor_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=211 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctor_session_token_settings`
--

LOCK TABLES `doctor_session_token_settings` WRITE;
/*!40000 ALTER TABLE `doctor_session_token_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctor_session_token_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctors`
--

DROP TABLE IF EXISTS `doctors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctors` (
  `doctor_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `clinic_id` int NOT NULL,
  `specialization` varchar(150) NOT NULL,
  `qualification` varchar(200) DEFAULT NULL,
  `consultation_fee` decimal(10,2) DEFAULT '0.00',
  `status` enum('Active','Inactive') DEFAULT 'Active',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`doctor_id`),
  KEY `fk_doctors_user` (`user_id`),
  KEY `fk_doctors_clinic` (`clinic_id`),
  CONSTRAINT `fk_doctors_clinic` FOREIGN KEY (`clinic_id`) REFERENCES `clinics` (`clinic_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_doctors_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctors`
--

LOCK TABLES `doctors` WRITE;
/*!40000 ALTER TABLE `doctors` DISABLE KEYS */;
INSERT INTO `doctors` VALUES (1,6,1,'Skin Doctor','MBBS',0.00,'Active','2026-08-10 08:29:07'),(2,8,1,'cardiologist','MBBS',0.00,'Active','2026-08-11 06:18:14');
/*!40000 ALTER TABLE `doctors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `otp_verifications`
--

DROP TABLE IF EXISTS `otp_verifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `otp_verifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `phone` varchar(20) NOT NULL,
  `otp_code` varchar(10) NOT NULL,
  `purpose` varchar(30) NOT NULL DEFAULT 'login',
  `is_verified` tinyint(1) NOT NULL DEFAULT '0',
  `attempts` int NOT NULL DEFAULT '0',
  `expires_at` datetime NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `channel` varchar(10) NOT NULL DEFAULT 'sms' COMMENT 'How this OTP was delivered: sms or email',
  `email` varchar(150) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_otp_phone_purpose` (`phone`,`purpose`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `otp_verifications`
--

LOCK TABLES `otp_verifications` WRITE;
/*!40000 ALTER TABLE `otp_verifications` DISABLE KEYS */;
INSERT INTO `otp_verifications` VALUES (1,'6238793863','608129','login',1,0,'2026-09-16 12:34:40','2026-09-16 06:59:39','sms',NULL),(2,'6238793863','349861','login',1,0,'2026-09-16 12:43:06','2026-09-16 07:08:06','sms',NULL),(3,'6238793863','688279','login',1,0,'2026-09-16 14:54:55','2026-09-16 09:19:55','sms',NULL),(4,'6238793863','609781','login',1,0,'2026-09-16 15:16:38','2026-09-16 09:41:37','sms',NULL),(5,'6238793863','424493','login',1,0,'2026-09-16 15:28:08','2026-09-16 09:53:08','sms',NULL),(6,'6238793863','724838','login',1,0,'2026-09-17 12:09:14','2026-09-17 06:34:14','sms',NULL);
/*!40000 ALTER TABLE `otp_verifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_requests`
--

DROP TABLE IF EXISTS `password_reset_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_requests` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `requested_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `reviewed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `password_reset_requests_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_requests`
--

LOCK TABLES `password_reset_requests` WRITE;
/*!40000 ALTER TABLE `password_reset_requests` DISABLE KEYS */;
INSERT INTO `password_reset_requests` VALUES (1,3,'approved','2026-08-27 12:45:09','2026-08-27 13:10:41');
/*!40000 ALTER TABLE `password_reset_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_resets`
--

DROP TABLE IF EXISTS `password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_resets` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `token` varchar(255) NOT NULL,
  `expires_at` datetime NOT NULL,
  `used` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `password_resets_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_resets`
--

LOCK TABLES `password_resets` WRITE;
/*!40000 ALTER TABLE `password_resets` DISABLE KEYS */;
INSERT INTO `password_resets` VALUES (1,3,'3598c3cb551f96dad9ede857e6115515a7da57f8c418eee442303ae9a9385638','2026-08-27 13:45:50',1,'2026-08-27 12:45:49'),(2,3,'0fbb81eaba51bfcb35bd4a433bc192b334434bda51bed132d6ebe8d0bb023118','2026-08-27 13:46:00',1,'2026-08-27 12:46:00'),(3,3,'d585a67f62d5b55b7e7d0fd20f2b084c9065b9774915f025c17beee255307c42','2026-08-27 13:46:14',1,'2026-08-27 12:46:13'),(4,3,'c8a41eb94a5ded4c7fdbf685508250fd1787a08e9a806a6a2010799186be6ebe','2026-08-27 14:10:41',1,'2026-08-27 13:10:41');
/*!40000 ALTER TABLE `password_resets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patients`
--

DROP TABLE IF EXISTS `patients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `patients` (
  `patient_id` int NOT NULL AUTO_INCREMENT,
  `clinic_id` int DEFAULT NULL,
  `full_name` varchar(150) NOT NULL,
  `phone` varchar(20) NOT NULL,
  `alternate_phone` varchar(20) DEFAULT NULL,
  `address` text NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `age` int NOT NULL DEFAULT '0',
  `gender` varchar(20) NOT NULL DEFAULT 'Other',
  `place` varchar(255) NOT NULL DEFAULT '',
  PRIMARY KEY (`patient_id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patients`
--

LOCK TABLES `patients` WRITE;
/*!40000 ALTER TABLE `patients` DISABLE KEYS */;
/*!40000 ALTER TABLE `patients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `role_id` int NOT NULL AUTO_INCREMENT,
  `role_name` varchar(50) NOT NULL,
  PRIMARY KEY (`role_id`),
  UNIQUE KEY `role_name` (`role_name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Admin'),(2,'Clinic'),(3,'Doctor'),(4,'Patient');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `role_id` int NOT NULL,
  `clinic_id` int DEFAULT NULL,
  `full_name` varchar(150) NOT NULL,
  `email` varchar(150) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `alternate_phone` varchar(20) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `designation` varchar(100) DEFAULT NULL,
  `status` enum('Active','Inactive') DEFAULT 'Active',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_users_role` (`role_id`),
  KEY `fk_users_clinic` (`clinic_id`),
  CONSTRAINT `fk_users_clinic` FOREIGN KEY (`clinic_id`) REFERENCES `clinics` (`clinic_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_users_role` FOREIGN KEY (`role_id`) REFERENCES `roles` (`role_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-17 14:25:13
